<div class="header bg-gradient-danger py-7 py-lg-8"></div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <div class="row">
              <div class="col-auto container-fluid">
                <h5
                  class="card-title text-uppercase text-muted mb-0"
                  *ngIf="isUpdate === false"
                >
                  Add {{ entity }}
                </h5>
                <h5
                  class="card-title text-uppercase text-muted mb-0"
                  *ngIf="isUpdate === true"
                >
                  Update {{ entity }}
                </h5>
              </div>
            </div>
          </div>
          <form class="form" [formGroup]="delegateForm" (ngSubmit)="editForm(delegateForm)">
            <!--form-->
            <div class="form-group">
              <div *ngFor="let field of fields">
                <div
                  class="input-group input-group-alternative mb-3"
                  *ngIf="field.type === 'text' || field.type === 'number'"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i [ngClass]="field.icon"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="{{ field.label }}"
                    type="{{ field.type }}"
                    [(ngModel)]="field.value"
                    formControlName="{{ field.formControleName }}"
                    disabled="{{ field.disabled }}"
                    required
                  />
                </div>
                <div
                  class="input-group input-group-alternative mb-3"
                  *ngIf="field.type === 'dropdown'"
                >
                  <select
                    class="custom-select"
                    (change)="changeDropDown($event, field.formControleName)"
                    formControlName="{{ field.formControleName }}"
                  >
                    <option value="" selected>{{ field.label }}</option>
                    <option *ngFor="let item of field.value" [ngValue]="item">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div *ngIf="field.label === 'Gender'">
                  <div class="form-group">
                    <div class="row justify-content-center">
                      <div class="col-lg-4 col-md-4" style="padding-top: 10px">
                        <i class="fas fa-restroom"></i> Gender :
                      </div>
                      <div class="col-lg-8 col-md-8">
                        <div class="custom-control custom-radio">
                          <input
                            id="male"
                            type="radio"
                            class="custom-control-input"
                            value="male"
                            name="gender"
                            formControlName="gender"
                          />
                          <label class="custom-control-label" for="male"
                            >Male</label
                          >
                        </div>
                        <div class="custom-control custom-radio">
                          <input
                            id="female"
                            type="radio"
                            class="custom-control-input"
                            value="female"
                            name="gender"
                            formControlName="gender"
                          />
                          <label class="custom-control-label" for="female"
                            >Female</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--agree Privacy-->
            <div class="row my-4">
              <div class="col-12"></div>
            </div>
            <!--createA account-->
            <div class="text-center">
              <button type="button" class="btn btn-primary" type="submit">
                Save
              </button>
              <button type="button" class="btn btn-danger" type="reset" (click)="back()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
