a.notif {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    background: url('../../../assets/img/icons/common/notification4.png');
    background-size: contain;
    text-decoration: none;
  }
  .num {
    position: absolute;
    right: 4px;
    top: 1px;
    color: #fff;
  }