<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-xl-6 col-lg-12">
              <h2 class="title">{{ entity }} management</h2>
            </div>
            <div class="col-xl-6 col-lg-12">
              <button type="button" class="btn btn-danger" (click)="submitData()" >Submit</button>
<!--                <button-->
<!--                  class="btn btn-primary button-background"-->
<!--                  placement="top-center"-->
<!--                  type="button"-->
<!--                  (click)="add(entity)"-->
<!--                >-->
<!--                  <span> add {{ entity }} </span>-->
<!--                  <div class="icon icon-shape text-white">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                  </div>-->
<!--                </button>-->
            </div>
          </div>
        </div>
        <div class="table-responsive">

          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let column of headers">
                  {{ column.label }}
                </th>
               <th>
                 Enabled
               </th>
<!--                  <th scope="col">Remove</th>-->
<!--                  <th scope="col">Edit</th>-->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let delegate of delegateList">
                <td *ngFor="let column of headers">
                  {{ delegate[column?.value] }}
                </td>
                <td>
                  <br>
                <label class="custom-toggle">
                  <input  type="checkbox" [(ngModel)]="delegate.enabled"
                          (change)="toggleEnabled(delegate.id,delegate.enabled)">
                  <span class="custom-toggle-slider rounded-circle"></span>
                </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
        </div>
      </div>
    </div>
  </div>
</div>
