.card-header {
    margin-bottom: 20px;
}
.active{
    color:red
}
    
.button-background{
    background:linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
.btn-neutral {
    color: #cc004e;
}

.py-7{
    padding-bottom: 3rem !important;
}