<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4">
            <small>Sign up with</small>
          </div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"
                ><img src="assets/img/icons/common/github.svg"
              /></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"
                ><img src="assets/img/icons/common/google.svg"
              /></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link logine2e" href="#login">Login</a>
          </li>
          <li>
            <a class="nav-link active registere2e" href="#register">Register</a>
          </li>
        </ul>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4"></div>
          <form
            class="form"
            [formGroup]="register"
            (ngSubmit)="addPerson(register)"
          >
            <!--User name-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-user"></i
                  ></span>
                </div>
                <input
                  class="form-control userName"
                  placeholder="User name"
                  type="text"
                  formControlName="username"
                  required
                />
              </div>
              <div *ngIf="username.touched && username.invalid">
                <small *ngIf="username.errors.required" class="text-danger userNameRequired"
                  >username is required<br
                /></small>
                <small *ngIf="username.errors.pattern" class="text-danger userNameInvalid"
                  >Invalid username<br
                /></small>
              </div>
            </div>
            <!--firstName-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-user"></i
                  ></span>
                </div>
                <input
                  class="form-control firstname"
                  placeholder="First Name"
                  type="text"
                  formControlName="firstname"
                  required
                />
              </div>
              <div *ngIf="firstname.touched && firstname.invalid">
                <small *ngIf="firstname.errors.required" class="text-danger firstnameRequired"
                  >Firstname is required<br
                /></small>
                <small *ngIf="firstname.errors.pattern" class="text-danger firstnameInvalid"
                  >Invalid Firstname<br
                /></small>
                <small *ngIf="firstname.errors.minlength" class="text-danger firstnameLenghtError"
                  >Firstname must contain two characters at least</small
                >
              </div>
            </div>
            <!--lastName-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-user"></i
                  ></span>
                </div>
                <input
                  class="form-control lastname"
                  placeholder="Last Name"
                  type="text"
                  required
                  formControlName="lastname"
                />
              </div>
              <div *ngIf="lastname.touched && lastname.invalid">
                <small *ngIf="lastname.errors.required" class="text-danger lastnameRequied"
                  >Lastname is required<br
                /></small>
                <small *ngIf="lastname.errors.pattern" class="text-danger lastnameInvalid"
                  >Invalid Lastname<br
                /></small>
                <small *ngIf="lastname.errors.minlength" class="text-danger lastnameLenghtError"
                  >Lastname must contain two characters at least</small
                >
              </div>
            </div>
            <!--Birth date-->
            <div class="form-group">
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-calendar-grid-58"></i
                    ></span>
                  </div>
                  <input
                    class="form-control datepicker date"
                    placeholder="Select date"
                    name="dp"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    type="text"
                    formControlName="birthDate"
                  />
                </div>
              </div>
              <!--              <div *ngIf="birthDate.touched && lastname.invalid">-->
              <!--                <small *ngIf="lastname.errors.required" class="text-danger"-->
              <!--                  >Birth date is required<br-->
              <!--                /></small>-->
              <!--              </div>-->
            </div>
            <!--email-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  class="form-control email"
                  placeholder="E-mail"
                  type="email"
                  required
                  formControlName="email"
                />
              </div>
              <div *ngIf="email.touched && email.invalid">
                <small *ngIf="email.errors.required" class="text-danger emailRequired"
                  >E-mail is required<br
                /></small>
                <small *ngIf="email.errors.pattern" class="text-danger emailInvalid"
                  >Invalid E-mail<br
                /></small>
              </div>
            </div>
            <!--gender-->
            <div class="form-group">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4" style="padding-top: 10px">
                  <i class="fas fa-restroom"></i> Gender :
                </div>
                <div class="col-lg-8 col-md-8 gender">
                  <div class="custom-control custom-radio">
                    <input
                      id="male"
                      type="radio"
                      class="custom-control-input "
                      value="male"
                      name="gender"
                      formControlName="gender"
                    />
                    <label class="custom-control-label" for="male">Male</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      id="female"
                      type="radio"
                      class="custom-control-input"
                      value="female"
                      name="gender"
                      formControlName="gender"
                    />
                    <label class="custom-control-label" for="female"
                      >Female</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--Role-->
            <div class="form-group">
              <select
                class="custom-select userType"
                (change)="changeDropDown($event, role)"
                formControlName="role"
              >
                <option value="" selected>You are !</option>
                <option *ngFor="let role of roles" [ngValue]="role">
                  {{ role }}
                </option>
              </select>
              <!--Medicale serial-->
              <div
                class="form-group"
                *ngIf="
                  this.role['value'] === '1: Doctor' ||
                  this.role['value'] === '3: Delegate'
                "
              >
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-badge"></i
                    ></span>
                  </div>
                  <input
                    class="form-control medicalSerial"
                    placeholder="Medial serial"
                    type="number"
                    required
                    formControlName="medicalSerial"
                  />
                  <div *ngIf="medicalSerial.touched && medicalSerial.invalid">
                    <small
                      *ngIf="medicalSerial.errors.required"
                      class="text-danger medicalSerialRequired"
                      >Medical Serial is required<br
                    /></small>
                    <small
                      *ngIf="
                        medicalSerial.errors.minlength &&
                        medicalSerial.errors.maxlength
                      "
                      class="text-danger medicalSerialInvalid"
                      >Medical Serial must contain eight least</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--Cin-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-badge"></i
                  ></span>
                </div>
                <input
                  class="form-control cin"
                  placeholder="Carte d'Identité National"
                  type="number"
                  required
                  formControlName="cin"
                  maxlength="8"
                />
              </div>
              <div *ngIf="cin.touched && cin.invalid">
                <small *ngIf="cin.errors.required" class="text-danger cinRequired"
                  >Carte d'Identité National is required<br
                /></small>
                <small *ngIf="cin.errors.minlength" class="text-danger cinInvalid"
                  >Carte d'Identité National must contain eight number</small
                >
              </div>
            </div>
            <!--Phone-->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-phone"></i
                  ></span>
                </div>
                <input
                  class="form-control phone"
                  placeholder="+216 00 00 00 00"
                  type="tel"
                  formControlName="phone"
                  required
                />
              </div>
              <div *ngIf="phone.touched && phone.invalid">
                <small *ngIf="phone.errors.required" class="text-danger phoneRequired"
                  >Phone number is required<br
                /></small>
                <small *ngIf="phone.errors.pattern" class="text-danger phoneInvalid"
                  >Invalid phone number<br
                /></small>
              </div>
            </div>
            <!--Country-->
            <div class="form-group">
              <select
                class="custom-select country"
                (change)="changeDropDown($event, country)"
                formControlName="country"
              >
                <option value="" selected>Country</option>
                <option
                  *ngFor="let country of arrayOfCountry"
                  [ngValue]="country.name"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
            <!--Address-->
            <div class="form-group">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-map-marker"></i
                      ></span>
                    </div>
                    <input
                      class="form-control address"
                      placeholder="adress"
                      type="text"
                      formControlName="address"
                      required
                    />
                  </div>
                  <!-- <div *ngIf="adress.touched && adress.invalid">
                    <small *ngIf="adress.errors.required" class="text-danger"
                      >Adress is required<br
                    /></small>
                    <small *ngIf="adress.errors.pattern" class="text-danger"
                      >Invalid Adress<br
                    /></small>
                    <small *ngIf="adress.errors.minlength" class="text-danger"
                      >Adress must contain two characters at least</small
                    >
                  </div> -->
                </div>
                <!--region-->
                <div class="col-lg-6 col-md-6">
                  <select
                    class="custom-select"
                    (change)="changeDropDown($event, region)"
                    formControlName="region"
                  >
                    <option value="">Region</option>
                    <option
                      *ngFor="let region of arrayOfRegion"
                      [ngValue]="region.name"
                    >
                      {{ region.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!--photo-->
            <div class="form-group">
                <div class="col-lg-4 col-md-4" style="padding-top: 10px">
                  <label for="frontImage">Profile Picture </label>
                </div>
                <div class="col-lg-4 col-md-4" style="padding-top: 10px">
                  <input
                  class="profilePicture"
                    (change)="handleFileSelect($event)"
                    type="file"
                    formControlName="profilePicture"
                  />
                </div>
            </div>
            <!--password-->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control password"
                  placeholder="Password"
                  type="password"
                  (keyup)="verifPassword($event.target.value)"
                  formControlName="password"
                />
              </div>
              <div *ngIf="password.touched && password.invalid">
                <small *ngIf="password.errors.required" class="text-danger passwordRequired"
                  >password number is required<br
                /></small>
                <small *ngIf="password.errors.pattern" class="text-danger passwordInvalid"
                  >Invalid password number<br
                /></small>
              </div>
              <div class="text-muted font-italic passwordStrength">
                <small
                  >password strength:
                  <span class="font-weight-700" [ngClass]="pwdstrengthColor">{{
                    pwdstrength
                  }}</span></small
                >
              </div>
            </div>
            <!--confirm password-->
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control confirmPasword"
                  placeholder="confirm the Password"
                  type="password"
                  (keyup)="confirm_Password($event.target.value)"
                  formControlName="confirmPasword"
                />
              </div>
              <div *ngIf="confirmPasword.touched && confirmPasword.invalid">
                <small *ngIf="confirmPasword.errors.required" class="text-danger confirmPaswordRequired"
                  >confirm password number is required<br
                /></small>
                <small *ngIf="confirmPasword.errors.pattern" class="text-danger confirmPaswordInvalid"
                  >Invalid confirm password number<br
                /></small>
              </div>
              <div class="text-muted font-italic">
                <small
                  >password
                  <span class="font-weight-700" [ngClass]="pswdMatchColor">{{
                    pswdMatch
                  }}</span></small
                >
              </div>
            </div>
            <!--agree Privacy-->
            <div class="row my-4">
              <div class="col-12 privacyPolicy">
                <div
                  class="
                    custom-control custom-control-alternative custom-checkbox 
                  "
                >
                  <input
                    class="custom-control-input "
                    id="customCheckRegister"
                    type="checkbox"
                    formControlName="privacyPolicy"
                  />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted"
                      >I agree with the <a href="#!">Privacy Policy</a></span
                    >
                  </label>
                </div>
              </div>
            </div>
            <!--createA account-->
            <div class="text-center">
              <button
                type="button"
                class="btn btn-primary mt-4 button-background createAccounte2e"
                type="submit"
              >
                Create account
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a class="text-light" (click)='forgotPassword()'><small>Forgot password?</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
