<div id ="userProfileHeader" class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 *ngIf="this.role === 'ROLE_DOCTOR'" class="display-2 text-white">Greetings Dr.{{this.currentUser.user_firstName}}</h1>
        <h1 *ngIf="this.role === 'ROLE_ADMIN'" class="display-2 text-white">{{this.currentUser.user_firstName}}, the best Admin</h1>
        <h1 *ngIf="this.role === 'ROLE_USER'" class="display-2 text-white">Greetings, {{this.currentUser.user_firstName}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page</p>
        <a (click)="isEditClicked($event)" class="btn btn-info">Edit profile</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.documentReady == true" class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
              </div>
            </div>
          </div>
          <div class="text-center">
              {{this.currentUser.user_firstName}}<span class="font-weight-light"></span>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{this.shownRole}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Fattouma Bourguiba Hospital
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="profileForm">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" formControlName="firstname" placeholder="First name" value="{{this.currentUser.user_firstName}}"
                    [disabled]="!isEditModeEnabled">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last Name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" formControlName="lastname" placeholder="Last name" value="{{this.userLastName}}"
                    [disabled]="!isEditModeEnabled">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" formControlName="email" placeholder="Email address" value="{{this.currentUser.email}}" [disabled]="!isEditModeEnabled">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Username</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Username" value="{{this.userName}}" [disabled]="!isEditModeEnabled">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="{{this.currentUser.address}}" type="text"
                    [disabled]="!isEditModeEnabled">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">National ID Number</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" formControlName="cin" placeholder="National ID Number" value="{{this.currentUser.cin}}"
                    [disabled]="!isEditModeEnabled">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Phone Number</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" formControlName="phone" placeholder="Phone Number" value="{{this.currentUser.phone}}"
                    [disabled]="!isEditModeEnabled">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Medical Serial</label>
                    <input *ngIf="this.role === 'ROLE_DOCTOR'" type="number" id="input-postal-code" formControlName="medicalSerial" class="form-control form-control-alternative" placeholder="Medical Serial" value="{{this.userMedicalSerial}}"
                    [disabled]="!isEditModeEnabled">
                  </div>
                </div>
              </div>
            </div>
          </form>
          <button *ngIf="isEditModeEnabled" (click)="saveProfile($event)" style="position:right;" class="btn btn-info">Save profile</button>
        </div>

      </div>

    </div>

  </div>
</div>
