.info-1 {
  padding-top: 20px;
}

.info-2 {
  .card.card-stats {
    background-color: #ffead0;
    border-radius: 32px;
  }
}

.button-background{
    background:linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}