<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="card card-stats mb-12 mb-xl-12">
            <div class="card-body">
              <div class="row">
                <div class="col-auto container-fluid">
                  Welcome {{ name }} ({{ role }})
                  <div
                    class="
                      icon icon-shape
                      bg-danger
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i [ngClass]="roleIcon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role === 'admin'">
  <div class="container-fluid mt--7">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-1 col-lg-6"></div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Doctors
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfDoctors
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-warning
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Doctors
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Patients
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfPatients
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-yellow
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Patients
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Delegates
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfDelegates
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-info
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-briefcase-medical"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Delegates
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid info-1">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-1 col-lg-6"></div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Medicines
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfMedicines
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-warning
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-pills"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Medicines
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      disease
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfDisease
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-yellow
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-diagnoses"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Patients
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      material
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfMaterial
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-info
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Material
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid info-1">
    <div class="container-fluid info-2">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Statistics
                    </h5>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-danger
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <a href="" class="text-light">
                    Use visual charts to communicate info more effectively
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Appointement Management
                    </h5>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-warning
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <a href="" class="text-light"
                    >Use visual charts to communicate info more effectively</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role === 'client'">
  <div class="container-fluid mt--7">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      book an appointment With Doctor
                    </h5>
                    <div>
                      <form
                        class="form"
                        [formGroup]="BookAppointmetForm"
                        (ngSubmit)="addAppointment(BookAppointmetForm)"
                      >
                        <!--diseases-->
                        <div class="form-group">
                          <select
                            class="custom-select"
                            (change)="changeDropDown($event, diseases)"
                            formControlName="diseases"
                          >
                            <option value="" selected>diseases</option>
                            <option
                              *ngFor="let diseases of diseasesArray"
                              [ngValue]="diseases"
                            >
                              {{ diseases }}
                            </option>
                          </select>
                        </div>
                        <!--Date-->
                        <div class="form-group">
                          <input
                            class="form-control"
                            type="date"
                            required
                            formControlName="date"
                          />
                        </div>
                        <!--medecins-->
                        <div class="form-group">
                          Did you take Medecines ?
                          <ng-multiselect-dropdown
                            [placeholder]="'Medecines'"
                            [settings]="dropdownSettings"
                            [data]="dropdownList"
                            [(ngModel)]="selectedItems"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            [required]="requiredField"
                            [ngClass]="setClass()"
                            name="medecinSelect"
                            formControlName="medicines"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                        <!--emergency-->
                        <div class="form-group">
                          <select
                            class="custom-select"
                            (change)="changeDropDown($event, emergency)"
                            formControlName="emergency"
                          >
                            <option value="" selected>emergency</option>
                            <option
                              *ngFor="let emergency of emergencyArray"
                              [ngValue]="emergency"
                            >
                              {{ emergency }}
                            </option>
                          </select>
                        </div>
                        <!--Description-->
                        <div class="form-group">
                          <label for="descriptionDiseas">Description</label>
                          <textarea
                            class="form-control"
                            id="descriptionDiseas"
                            rows="3"
                            formControlName="description"
                          ></textarea>
                        </div>

                        <div class="text-center">
                          <button
                            type="button"
                            class="btn btn-primary mt-4"
                            type="submit"
                          >
                            add Appointement
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Check you're medical record
                    </h5>
                  </div>
                  <!-- <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-yellow
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div> -->
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and check medical records
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role === 'doctor'">
  <div class="container-fluid mt--7">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-1 col-lg-6"></div>
          <div class="col-xl-5 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Disease management                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfClient
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-warning
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage disease
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Patients Management
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfPatients
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-yellow
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Patients
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-1 col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid info-1">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-1 col-lg-6"></div>
          <div class="col-xl-5 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Medicines management                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfMedicines
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-warning
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button (click)="management('Medecines')"
                          type="button"
                          class="btn btn-primary my-4 button-background"
                  >
                    View and manage Medicines
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Medical records management                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      numberOfPatients
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="
                        icon icon-shape
                        bg-yellow
                        text-white
                        rounded-circle
                        shadow
                      "
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mb-0 text-muted text-sm">
                  <button
                    type="button"
                    class="btn btn-primary my-4 button-background"
                  >
                    View and manage Medical records
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-1 col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role === 'delegate'">
</div>
