.button-background{
    background:linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
td{
    .button-background{
        background:linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
        border-radius: 20px;
    }
}

.title{
    padding-top: 25px;
    color:red
}