<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
      >
        <polygon class="fill-default" points="2560 10 2560 100 10 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
          </div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#login">Login</a>
            </li>
            <li>
              <a class="nav-link" href="#register">Register</a>
            </li>
          </ul>
          <div id="login" class="card-body px-lg-5 py-lg-5">
            <form role="form" [formGroup]="loginForm" (ngSubmit)="edit(loginForm)">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-badge"></i
                    ></span>
                  </div>
                  <input class="form-control" placeholder="user Name" type="text" formControlName='username'/>
                </div>
                <div *ngIf="username.touched && username.invalid">
                  <small *ngIf="username.errors.required" class="text-danger"
                    >user name is required<br
                  /></small>
                  <small *ngIf="username.errors.pattern" class="text-danger"
                    >Invalid user name<br
                  /></small>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="actualPassword"
                    type="password"
                    formControlName='actualPassword'
                  />
                </div>
                <div *ngIf="actualPassword.touched && actualPassword.invalid">
                  <small *ngIf="actualPassword.errors.required" class="text-danger"
                    >actual password is required<br
                  /></small>
                  <small *ngIf="actualPassword.errors.pattern" class="text-danger"
                    >Invalid actual password<br
                  /></small>
                </div>
                
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="new password"
                    type="password"
                    formControlName='newPassword'
                    (keyup)="verifPassword($event.target.value)"

                  />
                </div>
                <div *ngIf="newPassword.touched && newPassword.invalid">
                  <small *ngIf="newPassword.errors.required" class="text-danger"
                    >new password is required<br
                  /></small>
                  <small *ngIf="newPassword.errors.pattern" class="text-danger"
                    >Invalid newPassword<br
                  /></small>
                </div>
                <div class="text-muted font-italic">
                  <small
                    >new password strength:
                    <span class="font-weight-700" [ngClass]="pwdstrengthColor">{{
                      pwdstrength
                    }}</span></small
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="confirm new password"
                    type="password"
                    formControlName='confirmNewPassword'
                    (keyup)="confirmPassword($event.target.value)"
                    
                  />
                </div>
                <div *ngIf="confirmNewPassword.touched && confirmNewPassword.invalid">
                  <small *ngIf="confirmNewPassword.errors.required" class="text-danger"
                    >confirmNewPassword is required<br
                  /></small>
                  <small *ngIf="confirmNewPassword.errors.pattern" class="text-danger"
                    >Invalid confirm new password<br
                  /></small>
                </div>
                <div class="text-muted font-italic">
                  <small
                    >password
                    <span class="font-weight-700" [ngClass]="pswdMatchColor">{{
                      pswdMatch
                    }}</span></small
                  >
                </div>
              </div>
              <div
                class="custom-control custom-control-alternative custom-checkbox"
              >
                <input
                  class="custom-control-input"
                  id=" customCheckLogin"
                  type="checkbox"
                />
                <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-muted">Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4 button-background" type="submit">
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <a class="text-light" (click)='forgotPassword()'><small>Forgot password?</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  